<header>
  <nav class="navbar navbar-expand-lg navbar-light nav-container" style="background-color: #0094FF;">
      <div>
          <a class="barra" routerLink="/place/main">UnsafeZone</a>
          <a class="barra2" routerLink="/user/view" *ngIf="role == 'admin'">Usuarios</a> 
      </div>
      <div>
          <button class="navbarIco" type="button" (click)="logout()">
              <span class="bi bi-box-arrow-right"></span>
          </button>
          <button class="navbarIco" type="button" routerLink="/user/profile">
              <span class="bi bi-person-fill"></span>
          </button>
      </div> 
    </nav>
</header>
<div class="container p-3 my-3 border" >
    <div class="container" *ngIf="place">
        <div class="row">
          <div class="col">
            Calle
          </div>
          <div class="col">
            Número
          </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control cajas" name="street"  [(ngModel)]="street">
            </div>
            <div class="col">
                <input type="text" class="form-control cajas" name="number"  [(ngModel)]="number">
            </div>
        </div>
        <div class="row">
            <div class="col pt-3">
              Colonia
            </div>
            <div class="col pt-3">
              Municipio
            </div>
          </div>
          <div class="row">
              <div class="col">
                  <input type="text" class="form-control cajas" name="suburb" [(ngModel)]="suburb">
              </div>
              <div class="col">
                  <input type="text" class="form-control cajas" name="town"  [(ngModel)]="town">
              </div>
          </div>
          <div class="row">
            <div class="col pt-3">
              Estado
            </div>
            <div class="col pt-3">
              Nivel de inseguridad
            </div>
          </div>
          <div class="row">
              <div class="col">
                  <select class="cajas" name="state"  [(ngModel)]="state">
                      <option>Aguascalientes</option>
                      <option>Baja California </option>
                      <option>Baja California Sur</option>
                      <option>Campeche</option>
                      <option>Chiapas</option>
                      <option>Chihuahua</option>
                      <option>Ciudad de México</option>
                      <option>Coahuila</option>
                      <option>Colima</option>
                      <option>Durango</option>
                      <option>Estado de México </option>
                      <option>Guanajuato</option>
                      <option>Guerrero</option>
                      <option>Hidalgo</option>
                      <option>Jalisco</option>
                      <option>Michoacán</option>
                      <option>Morelos</option>
                      <option>Nayarit </option>
                      <option>Nuevo León </option>
                      <option>Oaxaca</option>
                      <option>Puebla</option>
                      <option>Querétaro</option>
                      <option>Quintana Roo</option>
                      <option>San Luis Potosí</option>
                      <option>Sinaloa</option>
                      <option>Sonora</option>
                      <option>Tabasco</option>
                      <option>Tamaulipas</option>
                      <option>Tlaxcala</option>
                      <option>Veracruz</option>
                      <option>Yucatán</option>
                      <option>Zacatecas</option>
                  </select>
              </div>
              <div class="col">
                  <input type="number" class="form-control cajas2" name="score" [(ngModel)]="score">
              </div>
          </div>
          <div class="row">
            <div class="col pt-3">
              Descripción
            </div>
          </div>
          <div class="row">
              <div class="col">
                  <textarea type="text" class="form-control cajas3" name="description"  [(ngModel)]="description"></textarea>
              </div>
          </div>
          <div class="row">
            <div class="col pt-3">
              Imagen
            </div>
          </div>
          <div class="row">
              <div class="col">
                <div class="">
                    <input type="file" class="custom-file-input" id="customFile" name="picture" (change)="uploadFile()">
                </div>
              </div>
          </div>
        <div class="row">
            <div class="col pt-5">

            </div>
            <div class="col pt-5">
                <button class="btn" (click)="update();" >Actualizar</button>
            </div>
            <div class="col pt-5">

            </div>
        </div>
    </div>
</div>
